
VITE_SUPABASE_PROJECT_ID="ryiuhvyyoxrexdgmrxpw"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5aXVodnl5b3hyZXhkZ21yeHB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NTI2NjksImV4cCI6MjA3NTQyODY2OX0.NHkqSDhgwCUphbzrFeiJCq8Ksy3jFAR3Tik-CFkpDIU"
VITE_SUPABASE_URL="https://ryiuhvyyoxrexdgmrxpw.supabase.co"

